<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <ul class="card-list">
        <% categories.forEach(category => { %>
            <li class="card">
                <a href="/category/<%= category.category_id %>">
                    <h2><%= category.category_name %></h2>
                </a>
                
            </li>
        <% }); %>
    </ul>
</main>

<%- include('partials/footer') %>