<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <div class="info-box">
        <h2><%= projectDetails.title  %></h2>  
        <p>Description: <%= projectDetails.description %></p>
        <p>Date: <%= projectDetails.date.toLocaleDateString('en-US') %></p>
        <p>Loation: <%= projectDetails.location %></p>
        <a href="/organization/<%= projectDetails.organization_id %>"><p>Partner Organization: <%= projectDetails.organization_name %></p></a>  
        <% if (user && user.role_name === 'admin') { %>
            <p><a href="/edit-project/<%= projectDetails.project_id %>">Edit Service Project</a></p>   
        <% } %>
        <% if (user) { %>
            <a href="/volunteer/<%= projectDetails.project_id %>">Volunteer for this project</a>
        <% } %>
           
    </div>

    <ul class="card-list">
        <% projectCategories.forEach(category => { %>
            <li class="card">
                <a href="/category/<%= category.category_id %>">
                    <h2><%= category.category_name %></h2>
                </a>
            </li>
        <% }) %>
    </ul>
    <% if (user && user.role_name === 'admin') { %>

        <a href="/assign-categories/<%= projectDetails.project_id %>">Edit Categories</a>
    <% } %>

</main>

<%- include('partials/footer') %>