<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <h2>Upcoming Service Projects</h2>

    <ul class="card-list">
        <% projects.forEach(project => { %>  

            <li class="card">            
                <a href="/project/<%= project.project_id %>">
                    <h2><%= project.title %></h2> 
                    <p><%= project.description %></p>
                    <p><%= project.date.toLocaleDateString('en-US')  %></p>
                    <p><strong>Organization:</strong> <%= project.organization_name %></p>                
                </a>

            </li>
        <% }); %> 
    </ul>
    <p><a href="/new-project">Add a New Service Project</a></p>
</main>
<%- include('partials/footer') %>