<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <h2><%= projectDetails.title  %></h2>  
    <p>Description: <%= projectDetails.description %></p>
    <p>Date: <%= projectDetails.date %></p>
    <p>Loation: <%= projectDetails.location %></p>
    <a href="/organization/<%= projectDetails.organization_id %>"><p>Partner Organization: <%= projectDetails.organization_name %></p></a>

</main>

<%- include('partials/footer') %>